{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ]
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
