{
  "presets": [
    "react"
  ],
  "plugins": [
    "lodash",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ]
  ],
  "env": {
    "default": {
      "presets": [
        "es2015"
      ]
    },
    "es5": {
      "presets": [
        "es2015"
      ]
    },
    "start": {
      "presets": [
        "es2015",
        "react-hmre"
      ]
    },
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
