body {
    background: #fefefe;

    font-family: Sans-Serif;

    line-height: 1.5;
}

form label {
    display: block;
}

header {
    position: fixed;
    padding: 0.5em;
    top: 0;

    text-align: center;

    color: #333;
    border: 0.1em solid #bbb;

    background-image: url(./images/bgnoise_lg.png);
}

h1 {
    margin: 0;
}

blockquote p {
    padding: 1em;
    background: rgba(255, 255, 0, 0.13);
}

header .description {
    color: #888;
}

.highlight {
    background: rgb(255, 255, 175);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.github-fork-ribbon {
    position: fixed;

    letter-spacing: 0.01em;
}

article {
    display: block !important;

    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;

    max-width: 768px;
}

article section {
    margin-bottom: 2em;
}

article h2 {
    margin-top: 2em;
}

.skylight-wrapper h2 {
    margin-top: 0;
}

textarea {
    width: 100%;
}

pre {
    background: #fafefe;
    padding: 0.5em;
}

article .description {
    margin: 1em;
    padding: 1em;

    max-width: 60em;

    background: #fafafa;

    border: 0.1em solid #eee;
}

article .description h2 {
    margin: 0;
}

table {
    width: 100%;
}

.demonstration tfoot {
    background: #fafafa;
}

.controls {
    overflow: auto;
}
.per-page-container {
    margin: 1em;

    float: left;
}
.search-container {
    margin: 1em;

    float: right;
}

.edit {
    margin-right: 1em;
}

.cancel-button {
    float: right;
}

.header-input {
    float: left;
    width: 100%;
}
