.gitter-chat-embed-action-bar {
    justify-content: flex-start;
}

.github-corner svg {
    z-index: 1000;
}

table {
    width: 100%;
}

.controls {
    overflow: auto;
}
.per-page-container {
    margin: 1em;

    float: left;
}
.per-page-container input {
    margin-left: 1em;
}
.scroll-container {
    margin: 1em;

    float: left;
}
.search-container {
    margin: 1em;

    float: right;
}

.edit {
    margin-right: 1em;
}

.cancel-button {
    float: right;
}

.header-input,
.column-filter-input {
    float: left;
    width: 100%;
}

.highlight {
    background: rgb(255, 255, 175);
}

.selected-row td {
    background: rgb(255, 255, 175) !important; /* XXX */
}

/* inline-editing.md */
.edited {
    border-left: 0.2em solid orange;
    padding-left: 0.2em;
}
