.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.github-fork-ribbon {
    position: fixed;

    letter-spacing: 0.01em;
}

.skylight-dialog {
    overflow: auto;
}
.skylight-wrapper h2 {
    margin-top: 0;
}

table {
    width: 100%;
}

.controls {
    overflow: auto;
}
.per-page-container {
    margin: 1em;

    float: left;
}
.per-page-container input {
    margin-left: 1em;
}
.search-container {
    margin: 1em;

    float: right;
}

.edit {
    margin-right: 1em;
}

.cancel-button {
    float: right;
}

.header-input,
.column-filter-input {
    float: left;
    width: 100%;
}

.show-more:after {
    cursor: pointer;
    padding-right: 0.5em;
    content: "\25B8";
    font-size: small;
}
.show-less:after {
    cursor: pointer;
    padding-right: 0.5em;
    content: "\25BE";
    font-size: small;
}

.highlight {
    background: rgb(255, 255, 175);
}

.selected-row td {
    background: rgb(255, 255, 175) !important; /* XXX */
}
